/**
 * WPBean Admin CSS
 */
.wpb_fp_settings_area {
    position: relative;
}

.wpb_fp_settings_content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid #ebebeb;
}
.wpb_fp_settings_content h3 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 700;
}
.wpb_fp_settings_content ul {
    margin-bottom: 30px;
}
.wpb_fp_settings_content ul li {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}
.wpb_fp_settings_content ul li:before {
    content: "\f147";
    font-family: dashicons;
    font-size: 24px;
    color: #eb5e4c;
    position: relative;
    top: 7px;
    margin-right: 5px;
    -webkit-font-smoothing: antialiased;
}
.wpb_get_pro_btn,
.wpb_get_pro_btn:hover,
.wpb_get_pro_btn:focus,
.wpb_get_pro_btn:active {
    outline: 0;
    box-shadow: none;
    color: #fff;
}
.wpb_get_pro_btn {
    display: inline-flex;
    padding: 12px 20px;
    background: #40bff5;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.wpb_get_pro_btn:hover {
    background: #024c6b;
}
@media screen and (max-width: 768px) {
    .wpb_fp_settings_content {
        position: inherit;
        width: 100%;
    }
}

.wpb_pro_add li {
    position: relative;
    padding-left: 24px;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    line-height: 25px;
}
.wpb_pro_add li:before {
    background-image: url("../images/check-icon.png");
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center left;
}
.wpb-apg-button-group .button.wpb-button {
    padding: 8px 25px 9px;
    height: inherit;
    margin-right: 10px;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    border: 0;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.wpb-apg-button-group .button.wpb-button.wpb-button-common {
    background-color: #3498db;
    -webkit-box-shadow: 0 -2px 0 -1px #2980b9 inset;
    box-shadow: 0 -2px 0 -1px #2980b9 inset;
}
.wpb-apg-button-group .button.wpb-button.wpb-button-common:hover {
    background-color: #2980b9;
}
.wpb-apg-button-group .button.wpb-button.wpb-button-secondary {
    background-color: #8a96a0;
    -webkit-box-shadow: 0 -2px 0 -1px #6e7982 inset;
    box-shadow: 0 -2px 0 -1px #6e7982 inset;
}
.wpb-apg-button-group .button.wpb-button.wpb-button-secondary:hover {
    background-color: #6e7982;
}
